body {
  background-color: #3498db;
  margin: 0;
  padding: 0%;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  
}
button {
  border-radius: 2rem;
  background-color: white;
  color: black;
  padding: 2px;
  height: 1.5rem;
  width: 5rem;
 font-size: large;
 font-family: 'Times New Roman', Times, serif;
 margin-left: 2rem;
}

button:hover {
  background-color: black;
  color: aliceblue;
}

.whatsapp ,.telegram{
  border: 8px solid yellow;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 7rem;
width: 20rem;
display: inline-block;
padding: 1.5rem;
font-size: large;
font-family: 'Times New Roman', Times, serif;

}
.contact {
  padding: 0.5rem;
  height: 3rem;
  width: 30rem;
  border: 8px solid yellow;
  text-align: center;
  margin-top: 10%;
  margin-left: 30%;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}

.whatsapp {
  margin-left: 160px;
}

.telegram {
  margin-left: 16%;
}
 h1 { 
  text-align: center;
 }


h4 {
  margin-left: 36% ;
}



.telegram p,
.whatsapp p {
  font-size: 1.5rem;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
 
  .whatsapp, .telegram, .contact {
    width: 80%; /* Reduce width for smaller screens */
    margin-left: auto; /* Center align on smaller screens */
    margin-right: auto;
  }

  h4 {
    margin-left: auto; /* Center align on smaller screens */
    margin-right: auto;
  }

  .chatbot-logo {
    position: relative; /* Change positioning to relative for smaller screens */
    top: unset; 
    left: unset; 
    margin-bottom: 20px; 
  }
}















































/* 

body {
    background-color: #191970;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  h1 {
    text-align: center;
    color: white;
    margin-top: 5%;
  }
  
  .contact {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .telegram,
  .whatsapp,
  .border {
    border: 8px solid yellow;
    color: white;
    padding: 50px 50px;
    margin: 0 10px; 
  }
  .telegram {
    margin-right: 20%;
  }


.border {
   margin-left: 40%;
    width:10%;
}

  .footer {
    margin-top: 5%;
    text-align: center;
    color: white;
  }
   */
